<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>User Management</span>
    </h1>
  </div>

  <div class="card">
    <div class="card-body">
      <table *ngIf="users" id="user-management" class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
