<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Angular GraphQL Apollo Express Postgres Starter Kit</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
    <p>
      <button
        class="btn btn-primary mt-4"
        angulartics2On="click"
        angularticsAction="Click button below quote"
        [angularticsCategory]="quote">
        Click me to send an Analytics event
      </button>
    </p>
    <p class="d-flex flex-row justify-content-center">
      <button
        class="btn btn-primary mt-4 mr-3"
        angulartics2On="click"
        angularticsAction="Click button below quote"
        [routerLink]="'/login'"
      >
        Login
      </button>
      <button
        class="btn btn-primary mt-4"
        angulartics2On="click"
        angularticsAction="Click button below quote"
        [routerLink]="'/register'"
      >
        Sign up
      </button>
    </p>
  </div>
</div>
